body{
    background-color: lightcoral;

}

/* Header */
.navigation
{

}
/* Main */
.hero
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heroText
{
width: 50%;
}

.heroImg
{
width: 50%;
border: 1px solid black;
}

.Projects
{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectCards
{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.card
{
    border: 3px solid black;
    border-radius: 5px;
    max-width: 300px;
}
.cardText
{
    width:50%;

}
.cardImg
{
    width:50%;
    border:1px solid black;
}

/* Media Query */

@media (max-width: 426px) {
  body {
    background-color: lightyellow;
  }
  .hero{
    flex-direction: column;
  }
}